@model Bluegrass.Models.SpeciesViewModels.SpeciesCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h4>Add a Species</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SpeciesType" class="col-form-label col-form-label-lg" for="inputLarge"></label>
                <input asp-for="SpeciesType" class="form-control form-control-lg" type="text" placeholder="Species" id="inputLarge"/>
                <span asp-validation-for="SpeciesType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
