@model IEnumerable<BluegrassPetCare.Models.Species>

@{
    ViewData["Title"] = "Index";
}



<div class="PetIndex">
    <div class="Index-Title">
        <h1>Species</h1>
    </div>
    <div class="createPetBtn">
        <p class="lead">
            <a class="btn btn-primary btn-lg" asp-action="Create">Add Species</a>
        </p>
    </div>




    <div class="PetCards">
        @foreach (var species in Model)
        {
            <div class="petCard card" style="min-width: 20rem;">
                <div class="card-header">
                    <div>
                        <h2>@Html.DisplayFor(modelItem => species.SpeciesType)</h2>
                    </div>
                </div>


                <div class="PetInfoText">
                    <dl class="row">
                          
                        <dd class="col-sm-12">
                            <div class="petDetailsBtn">
                                <a class="btn btn-primary btn-block" asp-action="Delete" asp-route-id="@species.SpeciesId">Delete</a>
                            </div>
                        </dd>
                        </dl>
                </div>
            </div>
        }
    </div>
</div>


