@model IEnumerable<BluegrassPetCare.Models.Species>

@{
    ViewData["Title"] = "Index";
}
<h1>Species</h1>

<hr />
<p>
    <a asp-action="Create" class="btn btn-outline-info btn-lg">Add Species!</a>
</p>
<table class="table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SpeciesType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-dark">
                <td>
                    @Html.DisplayFor(modelItem => item.SpeciesType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpeciesId)
                </td>
                <td>
                 
                    @Html.ActionLink("Delete", "Delete", new { id = item.SpeciesId })
                </td>
            </tr>
        }
    </tbody>
</table>
