@model BluegrassPetCare.Models.NoteViewModels.NoteDetailViewModel

@{
    ViewData["Note.Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Note.NoteId" />
            
            <div class="col-md-6">
                <div class="col-md-10">
                    <embed style="max-height: 400px; max-width: 400px" src="~/pdfs/@Model.Note.UploadPath" alt="cool document" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile">Document</label><br>
                <input id="image-upload-button" asp-for="ImageFile" type="button" class="form-control" value="Add Document">
            </div>

            <div class="form-group hidden" id="image-input">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Note.Title" class="control-label"></label>
                <input asp-for="Note.Title" class="form-control" />
                <span asp-validation-for="Note.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.Description" class="control-label"></label>
                <input asp-for="Note.Description" class="form-control" />
                <span asp-validation-for="Note.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.Pet" class="control-label"></label>
                <select asp-for="Note.PetId" class="form-control" asp-items="@Model.PetsTypeOptions">
                    <option selected value="null"> Please select a category</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
