@model BluegrassPetCare.Models.PetViewModels.PetDetailViewModel

@{
    ViewData["Name"] = "Create";
}

<div class="CreatePet">
    <div class="Index-Title">
        <h1>Add Pet</h1>
    </div>
    <div class="row">
        <div class="col-md-4 petCreateForm">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Pet.Name" class="col-form-label col-form-label-lg" for="inputLarge">Name</label>
                    <input asp-for="Pet.Name" class="form-control" />
                    <span asp-validation-for="Pet.Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Pet.SexId" class="col-form-label col-form-label-lg" for="inputLarge"></label>
                    <select asp-for="Pet.SexId" class="form-control" asp-items="@Model.SexTypeOptions">
                        <option selected value="null"> Please select a category</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Pet.SpeciesId" class="col-form-label col-form-label-lg" for="inputLarge"></label>
                    <select asp-for="Pet.SpeciesId" class="form-control" asp-items="@Model.SpeciesTypeOptions">
                        <option selected value="null"> Please select a category</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Pet.BreedId" class="col-form-label col-form-label-lg" for="inputLarge"></label>
                    <select asp-for="Pet.BreedId" class="form-control" asp-items="@Model.BreedTypeOptions">
                        <option selected value="null"> Please select a category</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Pet.Color" class="col-form-label col-form-label-lg" for="inputLarge">Color</label>
                    <input asp-for="Pet.Color" class="form-control form-control-sm" type="text" placeholder="Color" id="inputSmall">
                    <span asp-validation-for="Pet.Color" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Pet.Birthday" class="col-form-label col-form-label-lg" for="inputLarge">Birthday</label>
                    <input type="date" asp-for="Pet.Birthday" class="form-control" />
                    <span asp-validation-for="Pet.Birthday" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ImageFile" class="col-form-label col-form-label-lg" for="inputLarge">Upload an Image</label>
                    <input asp-for="ImageFile" class="form-control" type="file" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Pet.OngoingProblems" class="col-form-label col-form-label-lg" for="inputLarge">Ongoing Problems</label>
                    <textarea asp-for="Pet.OngoingProblems" class="form-control"></textarea>
                    <span asp-validation-for="Pet.OngoingProblems" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Pet.CurrentMedications" class="col-form-label col-form-label-lg" for="inputLarge">Current Medications</label>
                    <textarea asp-for="Pet.CurrentMedications" class="form-control"></textarea>
                    <span asp-validation-for="Pet.CurrentMedications" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Pet.IsSpayedOrNeutered" class="col-form-label col-form-label-lg" for="inputLarge">Is Spayed or Neutered</label>
                    <input type="checkbox" asp-for="Pet.IsSpayedOrNeutered" class="form-control" />
                    <span asp-validation-for="Pet.IsSpayedOrNeutered" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-outline-primary" />
                </div>
            </form>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
