@model BluegrassPetCare.Models.PetViewModels.PetDetailViewModel

@{
    ViewData["Title"] = "Edit";
}
    <style>
        .updateImage {
            width: 100px;
            color: black;
        }
    </style>

<h1>Edit</h1>

<h4>Pet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pet.PetId" />

            <div class="col-md-6">
                <div class="col-md-10">
                    <img style="max-height: 500px; max-width: 500px" src="~/images/@Model.Pet.ImagePath" alt="cool image" />
                </div>
            </div>


            <div class="form-group">
                <label asp-for="ImageFile">Add Image?</label><br>
                <input id="image-upload-button" asp-for="ImageFile" type="button" class="form-control" value="Add Image">
            </div>
            <div class="form-group hidden" id="image-input">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Pet.Name" class="control-label"></label>
                <input asp-for="Pet.Name" class="form-control" />
                <span asp-validation-for="Pet.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Color" class="control-label"></label>
                <input asp-for="Pet.Color" class="form-control" />
                <span asp-validation-for="Pet.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.SexId" class="control-label"></label>
                <select asp-for="Pet.SexId" class="form-control" asp-items="@Model.SexTypeOptions">
                    <option selected value="null"> Please select a category</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Pet.SpeciesId" class="control-label"></label>
                <select asp-for="Pet.SpeciesId" class="form-control" asp-items="@Model.SpeciesTypeOptions">
                    <option selected value="null"> Please select a category</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Pet.BreedId" class="control-label"></label>
                <select asp-for="Pet.BreedId" class="form-control" asp-items="@Model.BreedTypeOptions">
                    <option selected value="null"> Please select a category</option>
                </select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Pet.IsSpayedOrNeutered" /> @Html.DisplayNameFor(model => model.Pet.IsSpayedOrNeutered)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Birthday" class="control-label"></label>
                <input asp-for="Pet.Birthday" class="form-control" />
                <span asp-validation-for="Pet.Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.CurrentMedications" class="control-label"></label>
                <input asp-for="Pet.CurrentMedications" class="form-control" />
                <span asp-validation-for="Pet.CurrentMedications" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.OngoingProblems" class="control-label"></label>
                <input asp-for="Pet.OngoingProblems" class="form-control" />
                <span asp-validation-for="Pet.OngoingProblems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}