@{
    ViewData["Title"] = "Home Page";
}


<div class="homeButtons">
    <div class="bluegrass-hero-banner">
        <img src="~/assets/bglogo.png" height="350" width="350">
    </div>
        
    <div class="jumbotron">
            <h1 class="display-3">Bluegrass PetCare</h1>
            <p class="lead">This is a simple web application to make the communication between Employees and Pet owners who work and attend Bluegrass Animal
            Hospital, less complicated.</p>
            <hr class="my-4">
            <p>Store your pets, and store notes about them. Veterinarians, make notes about pets you take care of.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
       </div>

    
</div>