@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bluegrass PetCare</h1>
</div>
<div class="homeButtons">
    <div class="bluegrass-hero-banner">
        <img src="~/assets/grumpy-cat-png.png" height="250" width="250">
            <img src="~/assets/bglogo.png" height="350" width="350">
        <img src="~/assets/grumpy-cat-png.png" height="250" width="250">
    </div>
</div>