@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Home Page";
}
    <div class="HomePage">
        @if (SignInManager.IsSignedIn(User))
        {
            {
        <div class="jumbotron HomeBgFull" id="homeJumbo">
            <div class="jumboImage">
                <span class="jumboLogo">
                        <img src="~/assets/dog.png" />
                </span>
                <img src="~/assets/doggy.png" />
            </div>
            <p class="lead text-light">Explore PetCare</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-lg" role="button" asp-area="" asp-controller="Pets" asp-action="Index">Pets</a>
                <a class="btn btn-lg" role="button" asp-area="" asp-controller="Notes" asp-action="Index">Notes</a>
            </p>
        </div>

            }
        }
        else
        {
            <div class="jumbotron HomeBgFull" id="homeJumbo">
                <div class="jumboImage">
                    <span class="jumboLogo">
                        <img src="~/assets/petcare.png" />
                    </span>
                </div>
                <p class="lead">Please Log-In or Register</p>
                <hr class="my-4">
                <p class="lead">
                    <a class="btn btn-lg" role="button" asp-area="Identity" asp-page="/Account/Login">Log-In</a>
                    <a class="btn btn-lg" role="button" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </p>
            </div>

        }
    </div>