@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bluegrass PetCare</h1>
</div>
<div class="homeButtons">
    <a class="btn btn-primary btn-lg" role="button" asp-area="" asp-controller="Pets" asp-action="Index">My Pets</a>
</div>